<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDuration</key>
	<false/>
	<key>CFBundleDevelopmentRegion</key>
	<string>zh</string>
	<key>CFBundleDisplayName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>zh</string>
		<string>en</string>
	</array>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>7</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName~ipad</key>
	<string>LaunchScreen-iPad</string>
	<key>UILaunchStoryboardName~iphone</key>
	<string>LaunchScreen-iPhone</string>
	<key>UILaunchStoryboardName~ipod</key>
	<string>LaunchScreen-iPhone</string>
	<key>UIPrerenderedIcon</key>
	<false/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
		<string>gamekit</string>
		<string>metal</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIRequiresPersistentWiFi</key>
	<true/>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
	</array>
	<key>UnityAddRemoteNotificationCapability</key>
	<false/>
	<key>UnityCloudProjectID</key>
	<string></string>
	<key>UnityCrashSubmissionURL</key>
	<string></string>
	<key>UnityNotificationDefaultAuthorizationOptions</key>
	<integer>7</integer>
	<key>UnityNotificationRequestAuthorizationForRemoteNotificationsOnAppLaunch</key>
	<false/>
	<key>UnityNotificationRequestAuthorizationOnAppLaunch</key>
	<true/>
	<key>UnityRemoteNotificationForegroundPresentationOptions</key>
	<integer>-1</integer>
	<key>UnityUseAPSReleaseEnvironment</key>
	<false/>
	<key>UnityUseLocationNotificationTrigger</key>
	<false/>
	<key>Unity_LoadingActivityIndicatorStyle</key>
	<integer>-1</integer>
</dict>
</plist>
